*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto', Calibri, Arial, sans-serif; */
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

h1, .cbp-af-header nav a {
	font-weight: 400;
}

.container {
	position: relative;
	margin-top: 50px;
}

.colors {
	height: 7px;
	width: 100%;
}

/* MISSION STATEMENT CSS */
#mission{
	color: #f0ece8;
	text-align: center;
    	background-color: rgb(0, 94, 184); 
    	padding: 8% 8% 8%;
}

#mission h1 {
    font-size: 2.3em;
    font-weight: bold;
}

#mission p {
    font-size: 1.3em;
}

#page-container{
	margin-top: 150px;
	color: #333;
}

/* HOW TO JOIN CSS */
#join{
	color: #f0ece8;
	text-align: center;
    	background: #cedc00;
    	padding: 8% 8% 8%;
}

#join h1 {
    font-size: 2.3em;
    font-weight: bold;
}

#join p {
    font-size: 1.3em;
}

/* PAGES CSS */
#banner {
	position: relative;
	width: 100%;
}

#banner img {
	position: absolute;
	width: 100%;
	height: auto;
}

#banner h1{
	font-family: 'Roboto', Calibri, Arial, sans-serif;
	font-weight: 900;
	position: absolute;
	color: white;
	width: 100%;
	top: 70px; 
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .7em;
}

/* ABOUT CSS */
.page-content {
	padding: 20% 5% 5%;
}

.page-content a {
	color: #333;
	text-decoration: none;
}

/* MEDIABOX CSS */

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
	text-align: center;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 3em 0px;
	border: 3px solid rgba(87, 83, 73, .7);
}

.mediabox h3 {
	color: #b36924;
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

#clearfix{
	clear:both;
	display: block;
}


/* FOOTER CSS */
#footer{
	background:url('../assets/images/background1.jpg') 50% 0 fixed;
	color: #333;
	padding: 3em 1em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

.footer-box {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.footer-box span {
	text-transform: uppercase;
	letter-spacing: 4px;
}

#social i {
	text-align: center;
	width: 2em;
	height:2em;
	color: white;
	background: #333;
	padding: .4em;
	border-radius: 4em;
}

@media screen and (max-width: 55em) {

	.container {
		position: relative;
		margin-top: 180px;
	}

	#page-container{
		margin-top: 180px;
		color: #333;
	}

	#banner h1{
		position: absolute;
		top: 30px; 
	}

	/* MISSION STATEMENT CSS */
	#mission h1 {
	    font-size: 1.5em;
	}

	#mission p {
		line-height: 1.5em;
		text-align: justify;
	    font-size: 90%;
	}

	/* Projects CSS */
	#projects .mediabox {
		float: none;
	}

	/* MEDIABOX CSS */
	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
		border-radius: 1em 0em 0 1em;
	}

	.mediabox h3 {
		margin-top: 0em;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}

	/* FOOTER CSS */
	#footer {
		padding: 3em 1em 1em;
	}

	.footer-box {
		width: 50%;
		padding: 0 15px 20px;
		font-size: 90%;
	}

}

@media screen and (max-width: 32em) {

	.container h1 {
		font-size: 1.7em;
	}

	#banner h1{
		position: absolute;
		left: 0; 
		top: 0; 
	}

	/* Projects CSS */
	#projects .mediabox {
		float: none;
		width: 100%;
	}

	/* MEDIABOX CSS */
	.mediabox {
		text-align: center;
	}

	.mediabox span {
		margin-bottom: .5em;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 80%;
		border-radius: 1em;
	}

	.mediabox h3 {
		margin: 1.25em 0 0.25em;
	}

	.mediabox p {
		margin: 0 auto;
		max-width: 80%;
	}

	/* FOOTER */
	.footer-box {
		float: none;
		width: 100%;
	}
}
