/*
 * Columbia University Engineers Without Borders
 * CSS Stylesheet
 * Author: Alex Kalicki
 * Source code for site available on GitHub: https://github.com/akalicki/EWB-Morocco
*/

/* CSS5 RESET
**********************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    z-index: 1;
}

body {
    line-height:1;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 40px;
    text-decoration: none;
    font-weight: normal;
}

h3 {
    font-size: 30px;
    font-weight: normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* navigation */
nav {
    display: none;
    width: 200px;
    height: 700px;
    margin-left: 0;
    position: absolute;
    z-index: 2;
    background: url("../images/tan_mini_bricks_seamless_pattern.gif");
    float: left;
}

nav ul {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 20px;
}

nav ul li {
    list-style:none;
    padding-bottom: 10px;
}

nav li a {
    font-weight:1000;
    color: black;
}

nav button {
    color: black;
}

nav ul ul li {
    font-size: 10px;
    margin: 0;
}

#nav-menu a:hover {
    color:#21abc9;
}

#nav-menu li.selected a {
    color:deeppink;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* WEBSITE CODE
**********************************************/

.page-section {
    position: relative;
    overflow: hidden;
    /*height: 700px;*/
}

/*
.header {
    text-align: right;
    float: left;
    position: fixed;
    z-index:2;
    top:0;
    right:0;
    height:40px;
    font-size: 20px;
    width: 100%;
    background-color: rgba(0,0,0,.53);
    color: white;
}
*/

.menuBtn {
    outline: 0;
    background: none;
    border: 0;
    padding: 5px;
    float: left;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.program-title {
    text-align: center;
}

.programs {
    padding-left: 30px;
    padding-right: 30px;
    width: 27%;
    text-align: center;
    line-height: 1.3;
    float: left;
}

.programs ul {
    list-style-type: none;
}

.program-description {
    margin-top: 8px;
}

.program-meeting-times {
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,.50);
    text-align: center;
    font-size: 30px;
    height: 350px;
    width: 350px;
}

.program-meeting-times div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.program-meeting-times li {
    color: white;
}

#openMenu {
    color: white;
}

/****************************** Home Page ********************************************/
#home {
    height: 700px;
    background: url("../images/home.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#main-description h1 {
    letter-spacing: 5px;
}

#main-description h3 {
    font-size: 25px;
}

#main-description {
    background-color: rgba(0,0,0,.53);
    /*height: 100px;*/
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    color:white;
    padding-bottom: 10px;
}

#main-description p {
    padding-left: 50px;
    padding-right: 50px;
}

/******************************* About Us ********************************************/
#about-us {
    height: 500px;
    padding-bottom: 10px;
}

#about-us div {
    width: 45%;
    height: 70%;
    float: left;
    position: relative;
    padding: 10px;
}

#about-us h1 {
    padding-top: 60px;
}

#about-us p {
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

#about-us img {
    width: 100%;
    height: 100%;
}

/****************************** Donate ********************************************/
#donate {
    padding-top: 10px;
    height: 300px;
}

#donate h2 {
    text-align: center;
    padding-left: 20px;
    padding-top: 30px;
    text-decoration: underline;
}

#donate p {
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.3;
    position: relative;
    float: left;
    text-align: center;
}

#donate-general {
    width: 50%;
    height: 100%;
    background: url("../images/tan_mini_bricks_seamless_pattern.gif");
    float: left;
}

#travel-fund {
    height: 100%;
    background: url("../images/tan_mini_bricks_seamless_pattern.gif");
    width: 50%;
    float: left;
}

.donate-btn {
    width: 100%;
    margin-top: 30%;

}

.donate-btn button {
    font-size: 25px;
    margin: 0 auto;
    background-color: pink;
}


/****************************** Our Programs ********************************************/
#our-programs {
    height: 700px;
    background-color: white;
}

#our-programs h1 {
    padding-top: 60px;
}

#our-programs h2 {
    background-color: #0A2A1B;
    color:white;
}

#our-programs img {
    height: 350px;
    width: 350px;
}

#our-programs-description {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
    line-height: 1.3;
}

/*div surrounding the three separate program descriptions*/
#program-photos {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 center;
    width: 90%;
}

/****************************** Chapter Events ********************************************/
#events {
    height: 700px;
    background: url("../images/ewb_tamar.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:white;
    line-height: 1.3;
}

#events-text {
    background-color: rgba(0,0,0,.53);
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
}

#event1 {
    width: 40%;
    float: left;
    padding: 5%;
}

#event2 {
    width: 40%;
    float: left;
    padding: 5%;
}

#event2 h3 {
    text-decoration: underline;
}

#event2 ul {
    padding-left: 25px;
}

/****************************** Contact ********************************************/
#contact {
    height: 700px;
    background-color: white;
    line-height: 1.3;
    padding-left: 20px;
}

#contact h1 {
    padding-top: 60px;
}

#contact h3 {
    font-size: 40px;
    font-style: underline;
}

#e-board {
    float: top;
    float:left;
    width: 50%;
}

#e-board ul li {
    list-style-type: none;
}

#contact img {
    float: left;
    width: 50%;
}
