body{
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

button:hover{
    background: white;
}

/* NAVBAR CSS */
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

#logo {
    width: 50%;
    height: auto;
}

/* COVER/TITLE PAGE CSS */
#slide1{
    background:url('../images/cover.jpg') 50% 0 no-repeat fixed;
    font-family: 'Wire One', cursive;
    color: #ffffff;
    height: 800px;
    margin: 0;
    padding: 15% 0 ;
    background-size: cover;
}

#slide1 h1{
    font-size: 10em;
    color: white;
    text-shadow:
       4px 4px 0 #000000,
     -1px -1px 0 #000000,  
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
       1px 1px 0 #000000;
}

#slide1 h2{
    font-size: 3em;
}

/* MISSION STATEMENT CSS */
#mission{
    background-color: #F7F7F7;
    padding: 10% ;
}

#mission h1, #about h1{
    font-size: 3em;
}

#mission div div, #about div div{
    font-size: 1.5em;
}

/* PROGRAM CSS */
#ghana img, #morocco img, #uganda img{
    width: 100%;
}

#ghana, #morocco, #uganda{
    padding: 0;
}

.gallery-hidden{
  font-family: "Wire One", Calibri, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background: rgba(0,0,0, .6);
  color: white;
  opacity: 1;
   -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.gallery-hidden:hover{
  opacity: 0;
}

.gallery-hidden h1{
    font-size: 4em;
}

.gallery-hidden div{
    font-size: 2em;
    border-top: solid white 1px;
    padding-top: .5em;
    margin: 0 2em;

}


/* ABOUT PAGE CSS */
#about{
    background:url('../images/texture2.jpg');
    padding: 10%;
}

#about img{
    margin-top: 9%;
}

.panel{
    background: #F7F7F7;
    padding: 2em 0;
    border-radius: .5em;
    border: 1px dotted black;
    color: black;
}

.panel:hover{
    border-style: solid;
    cursor: pointer;
}

.icon .glyphicon{
    font-size: 2em;
    margin-bottom: .5em;
    -webkit-text-stroke: 1px black;
}

#donate .glyphicon{
    color: #990000;
}

#contact .glyphicon{
    color: #474747;
}

#follow .glyphicon{
    color: #004D99;
}

#footer{
    background:url('../images/footer.jpg') 50% bottom fixed;
    height: 500px;
}