body{
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

/* NAVBAR CSS */
.navbar-default{
    background: rgba(0,0,0,.5);
    border-color: transparent;
    text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  font-size: 1em;
}

.navbar .nav > li > a {
    text-decoration: none;
    color: white;
}

.navbar .nav > li > a:visited {
    text-decoration: none;
    color: white;
}

.navbar .nav li{
    margin: 0 2.5em;
}


#logo {
    width: 50%;
    height: auto;
}

/* COVER/TITLE PAGE CSS */
#slide1, #footer{
    background:url('../images/cover.jpg') 50% 0 no-repeat fixed;
    font-family: 'Wire One', cursive;
    color: #ffffff;
    height: 800px;
    margin: 0;
    padding: 15% 0 ;
    background-size: cover;
}

#slide1 h1, #footer h1{
    font-size: 10em;
    color: white;
    text-shadow:
       4px 4px 0 #000000,
     -1px -1px 0 #000000,  
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
       1px 1px 0 #000000;
}

#slide1 h2, #footer h2{
    font-size: 3em;
}

/* MISSION STATEMENT CSS */
#mission{
    background:url('../images/texture2.jpg');
    
    padding: 10% ;
}

#mission h1, #about h1{
    font-size: 3em;
}

#mission div div, #about div div{
    font-size: 1.5em;
}

/* PROGRAM CSS */
#ghana img, #morocco img, #uganda img{
    width: 100%;
}

#ghana, #morocco, #uganda{
    padding: 0;
}

.gallery-hidden{
  font-family: "Wire One", Calibri, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background: rgba(0,0,0, .6);
  color: white;
  opacity: 1;
   -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.gallery-hidden:hover{
  opacity: 0;
}

.gallery-hidden h1{
    font-size: 4em;
}

.gallery-hidden div{
    font-size: 2em;
    border-top: solid white 1px;
    padding-top: .5em;
    margin: 0 2em;

}


/* ABOUT PAGE CSS */
#about{
    background-color: #F5F5F5;
    padding: 10%;
}

#about img{
    margin-top: 9%;
}


/* FOOTER CSS */
#footer{
    background:url('../images/footer.jpg') 50% bottom fixed;
    height: 500px;
}

/* SUPPORT CSS */
#support{
    padding: 0;
    color: white;
    background: black;
}

#support a{
    color: white;
}

.support_tile{
    padding: 0;
    margin: 0;
    text-align: center;
    display: table;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.support_tile h2{
    padding: 1em;
    display: table-cell;
    vertical-align: middle;
}

.meeting_hover{
    font-size: 1em;
}

.glyphicon{
    font-size: 4em;
    margin-bottom: .5em;
}

#meetings div{
    margin-top: 20%;
    padding: 0 1em;
}

#meetings{
    background: rgba(3,54,73, .6);
}

#meetings:hover{
    background: #033649;
}

#donate{
    background: rgba(3,101,100, .6);
}

#donate:hover{
    background: #036564;
}

#follow{
    background: rgba(205,179,128, .6);
}

#follow:hover{
    background: #CDB380;
}

#contact{
    background: rgba(3,22,52, .6);
}

#contact:hover{
    background: #031634;
}